html,
body {
  background-color: #1e1c1c;
  color: #ffffff;
  font-family: "JetBrains Mono";
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  letter-spacing: -0.05em;
}

.content {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-flow: column;
  height: 100%;
}

img.logo {
  height: 150px;
  width: 150px;
  margin-bottom: 5%;
  border: 1px solid #ffffff;
  border-radius: 10px;
  box-shadow: 1px 1px 0px #ffffff, 2px 2px 0px #ffffff, 3px 3px 0px #ffffff,
    4px 4px 0px #ffffff, 5px 5px 0px #ffffff, 6px 6px 0px #ffffff;
}

.description {
  font-size: 2.5vh;
  text-align: center;
  margin-bottom: 5%;
}

a.button {
  -webkit-appearance: none;
  -webkit-box-shadow: 1px 1px 0px #ffffff, 2px 2px 0px #ffffff,
    3px 3px 0px #ffffff, 4px 4px 0px #ffffff, 5px 5px 0px #ffffff,
    6px 6px 0px #ffffff;
  -moz-appearance: none;
  -moz-box-shadow: 1px 1px 0px #ffffff, 2px 2px 0px #ffffff, 3px 3px 0px #ffffff,
    4px 4px 0px #ffffff, 5px 5px 0px #ffffff, 6px 6px 0px #ffffff;
  -ms-appearance: none;
  -ms-box-shadow: 1px 1px 0px #ffffff, 2px 2px 0px #ffffff, 3px 3px 0px #ffffff,
    4px 4px 0px #ffffff, 5px 5px 0px #ffffff, 6px 6px 0px #ffffff;

  text-decoration: none;
  color: initial;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;
  font-weight: 600;
  font-variation-settings: "wght" 600;
  border: 1px solid #1e1c1c;
  box-shadow: 1px 1px 0px #ffffff, 2px 2px 0px #ffffff, 3px 3px 0px #ffffff,
    4px 4px 0px #ffffff, 5px 5px 0px #ffffff, 6px 6px 0px #ffffff;
}

a.button:hover {
  background-color: #e0dfdc;
}

a.button:active {
  box-shadow: none;
  transform: translate(5px, 5px);
  -webkit-transform: translate(5px, 5px);
}

@media screen and (max-width: 700px) {
  img.logo {
    margin-bottom: 10%;
  }

  .description {
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
  }
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./fonts/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
}
